.application-container{
    margin-top: 90px;
}
.application-bg-container{
    width: 100%;
  height: 400px;
  background: linear-gradient(
    135deg,
    rgb(68, 14, 14) 0%,
    rgba(167, 27, 27, 0.664) 100%
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  animation: fadeInScale 0.8s ease-out;
}
.application-bg-container h1{
    font-size: 45px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.application-bg-container p{
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.application-bg-container button{
    width: 190px;
    height: 50px;
    background-color: whitesmoke;
    color: black;
    font-size: 16px;
    border-radius: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.application-bg-container button:hover{
    background-color: rgb(216, 186, 109);
}

.application-web{
    padding: 40px;
    margin-top: 10px;
}
.application-web h1{
        font-size: 45px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}
.application-web p{
        font-size: 18px;
        text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 10px;
}
.application-web ul{
    margin-top: 10px;
}
.application-web ul li{
    list-style-type: none;
    font-size: 18px;
}
.application-clients{
    margin: 50px;
    margin-top: -10px;
    padding:40px ;
    height: auto;
    width: 95%;
    background: linear-gradient(180deg,white,rgb(247, 242, 242));
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;    
    gap: 20px;
    border-radius: 10px;
}
.application-head{
    text-align: center;
}
.application-clients-card{
    height: 180px;
    width: 500px;
    border: 1px solid rgb(206, 205, 205);
    display: flex;
    flex-direction: column;
    align-items:center ;
    border-radius: 10px;
    box-shadow: 10px 10px 5px 5px rgb(184, 181, 181);
    transition: transform 0.3s ease;
}
.application-clients-card:hover{
        transform: scale(1.05);

}
.application-clients-card h1{
font-size: 20px;
    color: #000;
    text-align: center;
    margin-top: 40px;
}
.application-clients-card p{
font-size: 12px;
    color: #000;
    margin-top: 20px;
}

.application-details-conatiner{
    width: 100%;
    padding: 50px;
    
}
.application-details-conatiner h1{
    font-size: 45px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}
.application-details{
    display: flex;
    align-items: center;
    margin-top: 30px;
    background: linear-gradient(
    135deg,
    rgb(14, 68, 61) 0%,
    rgba(14, 190, 167, 0.664) 100%
  );
}
.application-details img{
    height: 300px;
    width: 400px;
}
.application-content{
    display: flex;
    flex-direction: column;
    margin: 10px;
}
.application-content h1{
    font-size: 30px;
    color: white;
    margin-top: 40px;
    text-align: start;
}
.application-content h4{
    color: whitesmoke;
    margin-top: 20px;
}
.application-content h6{
    color: whitesmoke;
    margin-top: 20px;
}
.application-content button{
    width: 190px;
    height: 50px;
    background-color: whitesmoke;
    color: black;
    font-size: 16px;
    border-radius: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.application-names{
    padding: 40px;
}
.application-names h1{
 text-align: center;
 font-size: 30px;
}
.application-names p{
    text-align: center;
    font-size: 18px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.application-service-cards{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.application-service-cards h1{
    width: 700px;
    height: 65px;
    box-shadow: 1px 8px 10px 0px black;
    font-size: 25px;
    border: 1px solid rgb(109, 109, 109);
}
.application-tech-name{
    width: 100%;
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px;
}
.application-tech-names{
    width: 150px;
    height: 60px;
    border: 1px solid gray;
    box-shadow: 2px 3px 2px 2px rgb(184, 181, 181);
      animation: updown 2s ease-in-out infinite;
}
@keyframes updown {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-4px);
  }
}

.application-tech-names h1{
    font-size: 25px;
    margin-top: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(14, 129, 129);
}

