.aws-container{
    margin-top: 90px;
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
}
.aws-main-heading{
    width: 100%;
    height: 300px;
   background: 
    radial-gradient(circle at 20% 80%, #ff99004d, transparent 50%), /* AWS Orange soft glow */
    radial-gradient(circle at 80% 20%, #4d9ac533, transparent 50%), /* AWS Cloudy Blue glow */
    linear-gradient(135deg, #232F3E, #1A2732); /* AWS Navy Gradient */

    overflow: hidden;
    text-align: center;
    padding: 80px;
}
.aws-main-heading h1{
    color: #ff9900;
}

.aws-main-heading p{
    font-size: 18px;
    color: #ffffff;
    margin-top: 10px;
}
.aws-content{
    margin-top: 0px;
    padding: 40px;
    background-color: #ffffffec;
}
.aws-content h1{
    font-size: 24px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(50, 49, 49);
    font-weight: bold;
    text-align: center;
}
.aws-content h2{
    font-size: 26px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(50, 49, 49);
    margin-top: 20px;
}
.aws-content p{
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(50, 49, 49);
}

.aws-partner h1{
    font-size: 28px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(50, 49, 49);
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}
.aws-partner h3{
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(50, 49, 49);
    text-align: center;
}
.aws-contact{
    margin-top: 20px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ff9900;
    width: 100%;
    justify-content: center;
    gap: 20px;
}
.aws-contact h2{
    font-size: 24px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    font-weight: bold;
    text-align: center;
}
.aws-contact p{
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(17, 16, 16);
    text-align: center;
}
.aws-contact button{
    background-color: white;
    color: #080808;
    font-size: 18px;
    padding: 10px 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}