.landing-page-container{
    width: 100%;
    margin-top: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.landing-page-container h1{
    font-size: 45px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}
.landing-page-container p{
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}
.icon-size{
    margin-top: 10px;
    font-size: 40px;
    margin-bottom: 10px;
  animation: arrowBounce 1.5s ease-in-out infinite;
}
@keyframes arrowBounce {
  0%, 100% { transform: translateY(0); }
  50%      { transform: translateY(10px); }
}
.landing-page-descrption{
    width: 80%;
    margin-bottom: 20px;    
}

.landing-page-cards-container{
    width: 80%;
}
.landing-page-cards-boxes{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 10px;
    margin-bottom: 30px;
}
.landing-page-cards{
    width: 300px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    margin-top: 20px;
     background: linear-gradient(
  transparent 60%,
    #25abaf 140%,
    rgb(250, 250, 249) 100%);
    
}

.landing-page-cards h1{
    font-size: 25px;
}
.landing-page-cards p{
    font-size: 14px;
}