.wordpress-container{
    margin-top: 90px;
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
}
.wordpress-main-heading{
    width: 100%;
    height: 300px;
    background: radial-gradient(circle at 20% 80%, #2db8e283, transparent 50%),
        radial-gradient(circle at 80% 20%, #eef7f783, transparent 50%),
        linear-gradient(135deg, #00252c, #002c3d);
    position: relative;
    overflow: hidden;
    text-align: center;
    padding: 80px;
}
.wordpress-main-heading h1{
    color: #ff9900;
}

.wordpress-main-heading p{
    font-size: 18px;
    color: #ffffff;
    margin-top: 10px;
}
.wordpress-content{
    margin-top: 0px;
    padding: 40px;
    background-color: #ffffffec;
}
.wordpress-content h1{
    font-size: 24px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(50, 49, 49);
    font-weight: bold;
    text-align: center;
}
.wordpress-content h2{
    font-size: 26px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(50, 49, 49);
    margin-top: 20px;
}
.wordpress-content p{
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(50, 49, 49);
}

.wordpress-partner h1{
    font-size: 28px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(50, 49, 49);
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}
.wordpress-partner h3{
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(50, 49, 49);
    text-align: center;
}
.wordpress-contact{
    margin-top: 20px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ff9900;
    width: 100%;
    justify-content: center;
    gap: 20px;
}
.wordpress-contact h2{
    font-size: 24px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    font-weight: bold;
    text-align: center;
}
.wordpress-contact p{
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(17, 16, 16);
    text-align: center;
}
.wordpress-contact button{
    background-color: white;
    color: #080808;
    font-size: 18px;
    padding: 10px 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}