.jobs-container {
  width: 100%;
    margin-top: 90px;
  padding: 20px;
  font-family: Arial, sans-serif;
  background: linear-gradient(180deg,rgb(248, 248, 248),white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.job-card {
  border: 1px solid #ccc;
  height: 90px;
  width: 600px;
  padding: 15px;
  margin: 12px 0;
  border-radius: 12px;
  background: #fff;
  transition: 0.3s;
display: flex;
justify-content: space-between;
background: transparent;
}
.job-card h3{
    font-size: 15px;
    font-weight: bold;
    font-family: sans-serif;
    color: #b14506;
}
.job-card p{
    font-size: 12px;
    color:rgba(7, 7, 7, 0.952);
}
.job-card:hover {
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

.apply-btn {
  cursor: pointer;
  padding: 8px 18px;
  background: #007bff;
  width: 100px;
  height: 40px;
  border: none;
  border-radius: 8px;
  color: white;
  margin-top: 8px;
}
.apply-btn:hover {
  background: #005fcc;
}

/* Modal */
.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}

.modal-box {
  background: #fff;
  width: 450px;
  padding: 25px;
  border-radius: 12px;
}

.modal-box input,
.modal-box textarea {
  width: 100%;
  margin: 8px 0;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

textarea {
  height: 80px;
}

.modal-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.submit-btn {
  background: #28a745;
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 8px;
  cursor: pointer;
}
.submit-btn:hover {
  background: #1f8a37;
}

.close-btn {
  background: #aaa;
  color: white;
  padding: 10px 18px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
.close-btn:hover {
  background: #888;
}
