.faq-container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  font-family: sans-serif;
  margin-top: 20px;
  padding: 30px;
  
  border: 1px solid rgba(184, 147, 147, 0.3);
  border-radius: 15px;
  background: #fff;
  box-shadow: 0 4px 12px rgba(0,0,0,0.06);
}

.frequently{
  text-align: center;
  margin-bottom: 30px;
  color: rgb(7, 7, 7);
}

.faq-item {
  padding: 15px 5px;
  cursor: pointer;
  border-bottom: 1px solid rgba(184, 147, 147, 0.2);
}

.faq-item:last-child {
  border-bottom: none;
}

.faq-question {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  font-weight: 600;
  color: #111;
}

.faq-answer {
  margin-top: 10px;
  font-size: 15px;
  color: #444;
  line-height: 1.4;
}
