.industry-container{
    min-height: 100vh;
    width: 100%;
    margin-top: 90px;
    background-color: white;
}
.industry-container h1{
    font-size: 40px;
    font-family: cursive;
    color: goldenrod;
    text-align: center;
    margin-top: 50px;
    margin-bottom: -50px;
}
.para{
    font-size: 20px;
    text-align: center;
    margin-top: 60px;
    font-weight: 600;
    font-family: 'Courier New', Courier, monospace;
}
.industry-cards-container{
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:20px;
    margin-top: -60px;
}
.carousel{
    width: 95%;
}
.carousel h3{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    
}
.carousel p{
    font-size: 18px;
    font-weight: 500;
    color: rgb(255, 248, 240);
    font-family: 'Courier New', Courier, monospace;
}
.carousel-item img {
  height: 500px;       
  width: 100%;         
  background-size: cover;
  object-fit: cover;
    border-radius:20px;
    filter: brightness(0.7);

}

.clients-container{
    margin: 50px;
    padding:40px ;
    height: auto;
    width: 95%;
    background: linear-gradient(180deg,white,rgb(247, 242, 242));
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;    
    gap: 20px;
    border-radius: 10px;
}
.clients-card{
    height: 180px;
    width: 500px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items:center ;
    border-radius: 10px;
    box-shadow: 10px 10px 5px 5px rgb(184, 181, 181);
    transition: transform 0.3s ease;

}
.clients-card:hover {
    transform: scale(1.05);

}
.clients-card h1{
    font-size: 20px;
    color: #000;
    text-align: center;
    margin-top: 40px;
}
.clients-card p{
    font-size: 12px;
    color: #000;
    margin-top: 80px;
}
.industry-expertise{
    height: auto;
    width: 100%;
}
.industry-expertise h1{
    color: goldenrod;
    font-family: sans-serif;
    font-weight: 500;
}
.purpose-bar-bg h2{
    color: #fafafa;
    font-family: cursive;
    font-size: 30px;
}
.purpose-bar-bg h4{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    margin-top: -20px;
}
.industry-head{
    width: 100%;
    text-align: center;
}
.industry-head h1{
    font-size: 20px;
    padding: 10px;
    line-height: 1.5;
    color: #000;
        width: 100%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}