.service-container {
    margin-top: 90px;
    width: 100%;
    height: auto;
    background-color: rgb(243, 243, 243);
}

.service-container-img {
    background: linear-gradient(rgba(0, 0, 0, 0.4),
            rgba(0, 0, 0, 0.4)),
        url("/handshake.png");
    height: 500px;
    width: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 100% 65%;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.06);
    margin-top: -10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

}

.service-text {
    width: 60%;
    margin-bottom: 30px;
}

.service-text h1 {
    color: white;
    padding: 20px;
    text-align: center;
    padding-top: 200px;
    font-size: 40px;
    font-family: cursive;
}

.service-text p {
    margin-top: -10px;
    color: white;
    font-size: 10px;
    padding: 20px;
    text-align: center;
    font-size: 18px;
    font-family: sans-serif;
}
.heading{
    color: rgb(55, 187, 228);
    padding: 20px;
    text-align: center;
    font-size: 40px;
    font-family: cursive;
}

/* Our Capabilities */
.our-capabilities {
    height: auto;
    width: 100%;
    margin-top: 5px;
    padding: 40px;
    gap: 25px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.capabilities{
    height: 380px;
    width: 300px;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 6px 5px 0px rgb(100, 100, 100);
}
.capabilities img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    box-shadow: 0px 6px 6px 2px black;
        animation: bounce 1.5s infinite ease-in-out;

}
@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
    box-shadow: 0px 6px 6px 2px rgba(0,0,0,0.4);
  }
  50% {
    transform: translateY(-14px);
    box-shadow: 0px 10px 15px rgba(0,0,0,0.25);
  }
}

.capabilities h1{
    font-size: 25px;
    color: rgb(15, 111, 128);
    font-family: cursive;
}
.capabilities p{
    font-size: 15px;
    color: rgb(59, 41, 18);
    font-family: sans-serif;
    margin-top: 10px;
}
.capabilities button{
    margin-top: 10px;
    height: 45px;
    width: 100px;
    border-radius: 30px;
    color: white;
    font-family: sans-serif;
    font-size: 13px;
    background-color: rgb(154, 170, 10);
}
.purpose-bar-bg h1{
    color: black;
}
.purpose-bar-bg p{
    font-size: 15px;
    margin-top: -40px;
    font-family: sans-serif;
    font-weight: 600;
}