.technology-container {
    margin-top: 90px;
    min-height: 100vh;
    width: 100%;
    background: linear-gradient(180deg, rgb(255, 255, 255), rgb(235, 234, 234));
}

.technology-container h1 {
    font-size: 30px;
    font-family: cursive;
    text-align: center;
    margin-bottom: 40px;
}

.cards-container {
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.tech-cards {
    height: 400px;
    width: 330px;

    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(141, 139, 139);
    border-radius: 10px 10px 10px 10px;
    box-shadow: 2px 3px 4px 1px rgb(150, 149, 149);
    border-bottom: 5px solid goldenrod;

}

.tech-cards img {
    width: 100%;
    border-radius: 10px 10px 0px 0px;
    height: 180px;
}

.tech-cards div {
    padding: 10px;
}

.tech-cards h1 {
    font-size: 25px;
    font-family: cursive;
    color: rgb(82, 80, 78);
    margin-bottom: -1px;
}

.tech-cards p {
    font-size: 14px;
    margin-top: 10px;
    color: rgb(70, 69, 69);
    font-family: sans-serif;
}

.frequently {
    margin-top: 40px;
}

.faq-container {
    margin-bottom: 40px;
}