.ai-container{
    margin-top: 90px;
}
.ai-content{
     width: 100%;
  height: 300px;
  background: radial-gradient(circle at 20% 70%, #2da9e280, transparent 45%),
              radial-gradient(circle at 80% 30%, #000cb380, transparent 45%),
              linear-gradient(135deg, #00141f, #001633);
  position: relative;
  overflow: hidden;
  text-align: center;
  padding: 80px;
}
.ai-content::after{
    content: "";
  position: absolute;
  width: 250px;
  height: 600px;
  background: rgba(255, 255, 255, 0.09);
  transform: rotate(-20deg);
  right: 8%;
  top: -100px;
  border-radius: 30px;
    animation: shine 3s infinite;
}
.ai-content h1{
    font-size: 45px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: whitesmoke;
    font-weight: bold;
}
.ai-content p{
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(230, 230, 230);
    margin-top: 10px;
}

.ai-text{
    margin-top: 0px;
    padding: 40px;
    background-color: #f0f0f0;
    text-align: center;
}
.ai-text h1{
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(20, 19, 19);
    margin-bottom: 10px;
    font-weight: bold;
}
.ai-text p{
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(50, 49, 49);
}
.ai-conclusion{
    width: 100%;
    margin-top: 40px;
    display: flex;
    gap: 5px;
}
.ai-conclusion ul{
    width: 50%;
}
.ai-conclusion ul h2{
    font-size: 28px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(20, 19, 19);
    margin-bottom: 10px;
    font-weight: bold;
}
.ai-conclusion ul p{
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(50, 49, 49);
    margin-bottom: 10px;
    line-height: 1.8;
}

.ai-conclusion button{
    padding: 10px 20px;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #ffffff;
    background-color: rgba(7, 122, 122, 0.925);
    border: none;
    border-radius: 5px 10px 5px 10px;
    cursor: pointer;
}
.ai-conclusion img{
    width: 40%;
    height: 250px;
    margin: 10px;
    border-radius: 30px;
}
.ai-cta{
    width: auto;
    margin: 50px 50px;
    padding: 30px;
    background-color: #00141f;
    border-radius: 10px 20px 10px 20px;
    text-align: center;
}
.ai-cta h1{
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: whitesmoke;
    margin-bottom: 10px;
    font-weight: bold;
}
.ai-cta p{
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: whitesmoke;
}
.ai-cta button{
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #00141f;
    background-color: whitesmoke;
    border: none;
    border-radius: 5px 10px 5px 10px;
    cursor: pointer;
}